.benefits_section {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.benefit_card {
  width: 100%;
  max-width: 1000px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 25px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefit_card .header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.benefit_card .header_wrapper .icon_wrapper {
  color: #F0F0F0;
}