.contact_section {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

form {
  width: 100%;
  max-width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.input_wrapper input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #F0F0F0;
  color: #F0F0F0;
  font-size: 18px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.input_wrapper input:focus {
  outline: none;
}
.input_wrapper input::-moz-placeholder {
  color: #909090;
}
.input_wrapper input::placeholder {
  color: #909090;
}
.input_wrapper textarea {
  width: 100%;
  height: 300px;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #F0F0F0;
  color: #F0F0F0;
  font-size: 18px;
  padding: 0px 10px;
  box-sizing: border-box;
  resize: none;
  font-family: "Arial";
}
.input_wrapper textarea:focus {
  outline: none;
}
.input_wrapper textarea::-moz-placeholder {
  color: #909090;
}
.input_wrapper textarea::placeholder {
  color: #909090;
}
.input_wrapper i {
  height: 20px;
}