//? [Global variables]
$pure_black: #000000;
$background: #101010;
$element: #252525;
$text: #F0F0F0;
$primary: #80FF80;
$primary_gradient_start: #60FF80;
$primary_gradient_end: #80FF60;
$secondary: #909090;