//? [Import globals]
@import '_globals';

* { cursor: none; }

html { scrollbar-width: none; }
html::-webkit-scrollbar { display: none; }

body {

    font-family: 'Arial';
    background-color: $background;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    user-select: none;

}

h1, h2, h3, h4 { color: $text; margin: 0px; }
p, i { color: $sub_text; margin: 0px; }

h1 { font-size: 64px; font-weight: 700; text-transform: uppercase; }
h2 { font-size: 30px; font-weight: 600; }
h3 { font-size: 24px; font-weight: 600; }
h4, p { font-size: 18px; font-weight: 500; }
i { font-size: 14px; }

h4 { color: $sub_text }
h4:hover { color: $text }

h1 { text-shadow: 5px 5px 5px $background; }

.icon_wrapper {

    width: fit-content;
    height: fit-content;
    font-size: 25px;
    color: $sub_text;

}
.icon_wrapper:hover { color: $text }

button {

    width: fit-content;
    height: 50px;
    padding: 0px 40px;
    background-color: transparent;
    border: 2px solid $text;
    box-sizing: border-box;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px $background);
    color: $text;
    text-transform: uppercase;
    font-size: 18px;

}
button:hover {

    background-color: $text;
    color: $background;

}

.image_container {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img { 

        background-color: $element;
        transition: scale 1s;

    }

    .backdrop {

        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;

    }

}
.image_container:hover img { scale: (1.2); }

footer {

    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}

@media (max-width: 1100px) {
    
    h1 { font-size: 48px; }

}

@media (max-width: 600px) {
    
    h1 { font-size: 40px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    h4, p { font-size: 16px; }
    i { font-size: 12px; }

}